.ft-fs-1 { font-size: fontSize(1); }
.ft-fs-2 { font-size: fontSize(2); }
.ft-fs-3 { font-size: fontSize(3); }
.ft-fs-4 { font-size: fontSize(4); }
.ft-fs-5 { font-size: fontSize(5); }
.ft-fs-6 { font-size: fontSize(6); }