.ft-bg-primary { background-color: theme("primary"); }
.ft-bg-secondary { background-color: theme("secondary"); }
.ft-bg-danger { background-color: theme("danger"); }
.ft-bg-success { background-color: theme("success"); }
.ft-bg-info { background-color: theme("info"); }
.ft-bg-warning { background-color: theme("warning"); }
.ft-bg-dark { background-color: theme("dark"); }
.ft-bg-light { background-color: theme("light"); }