.ft-m-1 { margin: $margin-1; }
.ft-m-2 { margin: $margin-2; }
.ft-m-3 { margin: $margin-3; }
.ft-m-4 { margin: $margin-4; }
.ft-m-5 { margin: $margin-5; }
.ft-my-1 { margin: $margin-1 0; }
.ft-my-2 { margin: $margin-2 0; }
.ft-my-3 { margin: $margin-3 0; }
.ft-my-4 { margin: $margin-4 0; }
.ft-my-5 { margin: $margin-5 0; }
.ft-mx-1 { margin: 0 $margin-1; }
.ft-mx-2 { margin: 0 $margin-2; }
.ft-mx-3 { margin: 0 $margin-3; }
.ft-mx-4 { margin: 0 $margin-4; }
.ft-mx-5 { margin: 0 $margin-5; }
.ft-mt-1 { margin: $margin-1 0 0 0; }
.ft-mt-2 { margin: $margin-2 0 0 0; }
.ft-mt-3 { margin: $margin-3 0 0 0; }
.ft-mt-4 { margin: $margin-4 0 0 0; }
.ft-mt-5 { margin: $margin-5 0 0 0; }
.ft-me-1 { margin: 0 $margin-1 0 0; }
.ft-me-2 { margin: 0 $margin-2 0 0; }
.ft-me-3 { margin: 0 $margin-3 0 0; }
.ft-me-4 { margin: 0 $margin-4 0 0; }
.ft-me-5 { margin: 0 $margin-5 0 0; }
.ft-mb-1 { margin: 0 0 $margin-1 0; }
.ft-mb-2 { margin: 0 0 $margin-2 0; }
.ft-mb-3 { margin: 0 0 $margin-3 0; }
.ft-mb-4 { margin: 0 0 $margin-4 0; }
.ft-mb-5 { margin: 0 0 $margin-5 0; }
.ft-ms-1 { margin: 0 0 0 $margin-1; }
.ft-ms-2 { margin: 0 0 0 $margin-2; }
.ft-ms-3 { margin: 0 0 0 $margin-3; }
.ft-ms-4 { margin: 0 0 0 $margin-4; }
.ft-ms-5 { margin: 0 0 0 $margin-5; }
.ft-m-auto { margin: auto; }
.ft-my-auto { margin: auto 0; }
.ft-mx-auto { margin: 0 auto; }
.ft-mt-auto { margin: auto 0 0 0; }
.ft-me-auto { margin: 0 auto 0 0; }
.ft-mb-auto { margin: 0 0 auto 0; }
.ft-ms-auto { margin: 0 0 0 auto; }