.ft-p-1 { padding: $padding-1; }
.ft-p-2 { padding: $padding-2; }
.ft-p-3 { padding: $padding-3; }
.ft-p-4 { padding: $padding-4; }
.ft-p-5 { padding: $padding-5; }
.ft-py-1 { padding: $padding-1 0; }
.ft-py-2 { padding: $padding-2 0; }
.ft-py-3 { padding: $padding-3 0; }
.ft-py-4 { padding: $padding-4 0; }
.ft-py-5 { padding: $padding-5 0; }
.ft-px-1 { padding: 0 $padding-1; }
.ft-px-2 { padding: 0 $padding-2; }
.ft-px-3 { padding: 0 $padding-3; }
.ft-px-4 { padding: 0 $padding-4; }
.ft-px-5 { padding: 0 $padding-5; }
.ft-pt-1{ padding: $padding-1 0 0 0; }
.ft-pt-2{ padding: $padding-2 0 0 0; }
.ft-pt-3{ padding: $padding-3 0 0 0; }
.ft-pt-4{ padding: $padding-4 0 0 0; }
.ft-pt-5{ padding: $padding-5 0 0 0; }
.ft-pe-1{ padding: 0 $padding-1 0 0; }
.ft-pe-2{ padding: 0 $padding-2 0 0; }
.ft-pe-3{ padding: 0 $padding-3 0 0; }
.ft-pe-4{ padding: 0 $padding-4 0 0; }
.ft-pe-5{ padding: 0 $padding-5 0 0; }
.ft-pb-1{ padding: 0 0 $padding-1 0; }
.ft-pb-2{ padding: 0 0 $padding-2 0; }
.ft-pb-3{ padding: 0 0 $padding-3 0; }
.ft-pb-4{ padding: 0 0 $padding-4 0; }
.ft-pb-5{ padding: 0 0 $padding-5 0; }
.ft-ps-1{ padding: 0 0 0 $padding-1; }
.ft-ps-2{ padding: 0 0 0 $padding-2; }
.ft-ps-3{ padding: 0 0 0 $padding-3; }
.ft-ps-4{ padding: 0 0 0 $padding-4; }
.ft-ps-5{ padding: 0 0 0 $padding-5; }
.ft-p-auto  { padding: auto; }
.ft-py-auto { padding: auto 0; }
.ft-px-auto { padding: 0 auto; }
.ft-pt-auto { padding: auto 0 0 0; }
.ft-pe-auto { padding: 0 auto 0 0; }
.ft-pb-auto { padding: 0 0 auto 0; }
.ft-ps-auto { padding: 0 0 0 auto; }