.ft-text-primary { color: theme("primary"); }
.ft-text-secondary { color: theme("secondary"); }
.ft-text-danger { color: theme("danger"); }
.ft-text-success { color: theme("success"); }
.ft-text-info { color: theme("info"); }
.ft-text-warning { color: theme("warning"); }
.ft-text-dark { color: theme("dark"); }
.ft-text-light { color: theme("light"); }
.ft-text-white { color: theme("white"); }